@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}
.App {
  border: 1px solid grey;
  margin: 1rem 450px;
  padding: 1rem 0 350px 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px grey;

 

}
.App h1 {
  border: 1px solid purple;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px purple;
}

@media (max-width: 720px) {
  .App {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;   
    margin: 1rem auto;
    padding: 10px 30px;
  }
  .App h1 {
    font-size: 25px;
  }
  .App .TextField {
    width: 50%;
  }
  .App form {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .App {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
         
    width: 80%;
  }
}